<div class="col-xxl-3 col-md-6 col-sm-12 mt-2 ">
    <div class="card h-100">
        <div class="card-header h5">Commandes {{ status }}</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Montant</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for commande in commandes %}
                        <tr>
                            <td>{{ commande.date ? commande.date|date('d/m/Y') : '' }}</td>
                            <td>{{ commande.total }} €</td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('app_admin_commande_show', {'id': commande.id}) }}">Détails</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>